.cookbook {
  background-color: green;
  width: 90vw;
  height: 90vh;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
}

.cookbook-pages {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
}
