.cookbook {
  background-color: green;
  width: 90%;
  height: 90vh;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 1em;
}

.cookbook-pages {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
  margin: 0 auto;
}

.flip-backward-button, .flip-forward-button {
  width: 2.5%;
  height: 90%;
}
