@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400&family=Oswald&display=swap');

.page {
  background-color: lightyellow;
  display: inline-block;
  width : 47%;
  max-width: 47%;
  min-width: 47%;
  height: 100%;
  /* overflow-y:auto; add scroll bar to recipe page when ingredients won't fit on one page */
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */ 
  font-family: 'Barlow Condensed', sans-serif;
}

.page.left {
  box-shadow:
  /* The top layer shadow */
  0 1px 1px rgba(0,0,0,0.15),
  /* The second layer */
  -10px 0 0 -5px lightyellow,
  /* The second layer shadow */
  -10px 0 1px -4px rgba(0,0,0,0.15),
  /* The third layer */
  -20px 0 0 -10px lightyellow,
  /* The third layer shadow */
  -20px 0 1px -9px rgba(0,0,0,0.15);
}

.page.right {
  box-shadow:
  /* The top layer shadow */
  0 1px 1px rgba(0,0,0,0.15),
  /* The second layer */
  10px 0 0 -5px lightyellow,
  /* The second layer shadow */
  10px 0 1px -4px rgba(0,0,0,0.15),
  /* The third layer */
  20px 0 0 -10px lightyellow,
  /* The third layer shadow */
  20px 0 1px -9px rgba(0,0,0,0.15);
}

.page::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.ingredients-list {
  text-align: left;
}

img {
  width: 75%;
  height: 50%;
}

li {
  width: 37%;
}

.ingredient {
  margin-top: 5%;
  border: solid lightyellow 0.15em;
}

.ingredient:hover {
  border: solid green 0.15em;
  border-radius: 5%;
  transition: 0.3s;
  cursor: pointer;
}

button, select { 
  font-size: 1.25vw;
  font-family: 'Oswald', sans-serif;
  border-radius: 500px;
  background-color: burlywood;
  border: outset black 0.15em;
}

button:hover, select:hover {
  background-color: gold;
  transition: 0.4s;
  cursor: pointer;
}

.flip-button.left {
  float: left;
}

.flip-button.right {
  float: right;
}

.zoom-in-button.left {
  float: left;
}

.zoom-in-button.right {
  float: right;
}

div.convert-button-container {
  text-align: center;
}

div.step-header {
  font-weight: bold;
}

div.step-text {
  position: relative;
  left: 50%;
  transform: translateX(-50%); 
  background-color: rgba(0,0,0,.07);
  border-radius: 50%;
  width: 50%;
  justify-content: center;
  text-align: center;  
  overflow-wrap: break-word;
  padding: 6%;
}

div.page.left + div.page.right {
  border-left: solid black 0.25em;
}